<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Wao_fe">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Wao_fe.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Screen -->
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Register Screen -->
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Verify Email Screen -->
        <activity
            android:name=".VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Main Screen -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Food Diary Screen -->
        <activity
            android:name=".FoodDiaryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Add Food Screen -->
        <activity
            android:name=".AddFoodActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Food Search Screen -->
        <activity
            android:name=".FoodSearchActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- Food Detail Screen -->
        <activity
            android:name=".FoodDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <!-- User Info Screen -->
        <activity
            android:name=".UserInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wao_fe" />

        <!-- Body Indices Screen (Step 2) -->
        <activity
            android:name=".BodyIndicesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wao_fe" />

        <!-- Goal Selection Screen (Step 3) -->
        <activity
            android:name=".GoalSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wao_fe" />

        <!-- Final Setup Screen (Step 4) -->
        <activity
            android:name=".FinalSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Allergies Screen -->
        <activity
            android:name=".AllergiesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Custom Scanner Screen -->
        <activity
            android:name=".CustomScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wao_fe" />

        <!-- nam them -->
        <activity
            android:name=".namstats.StatisticsDashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wao_fe" />


        <!-- Meal Plan Screen -->
        <activity
            android:name=".MealPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SavedMealPlansActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MealPlanDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Settings Screen -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Chatbot Screen -->
        <activity
            android:name=".ChatbotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <!-- Edit Profile Screen -->
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- namthem -->
        <activity
            android:name=".namstats.WeightLogUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Wao_fe" />

    </application>

</manifest>
